# PVA - Folio 5204160405358537 - Perito kronosproyecto@hotmail.com
ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/TU_API_KEY
CONTRACT_ADDRESS=0xPON_AQUI_TU_CONTRATO_DEPLOYADO
PERITO_EMAIL=kronosproyecto@hotmail.com
FOLIO_PERITO=5204160405358537
SAFE_CREATIVE_ID=2607146379465
GENESIS_SHA256=41a3683bbf83296eeb45da9b0e0ea5a7c095e78b493772e79520a92dbc39f4c3
IPFS_API_URL=/dns/ipfs.infura.io/tcp/5001/https
